:root {
  --width: 140px;
  --height: 100px;
  --red: 0;
  --green: 0;
  --blue: 0;
  --size: 1;
}

#mini-hearts {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #FFC3E0
  ;
  z-index: -1000;
}

.mini-heart {
  position: fixed;
  width: calc(var(--width)/var(--size));
  height: calc(var(--height)/var(--size));
}

.mini-heart::before,
.mini-heart::after {
  display: block;
  content: "";
  width: calc(var(--width) / 2 /var(--size));
  height: 100%;
  position: absolute;
  left: calc(var(--width) / 2 /var(--size));
  top: 0;
  border-radius: calc(var(--width) / 4 /var(--size)) calc(var(--width) / 4/var(--size)) 0px 0px;
  background-color: rgb(var(--red), var(--green), var(--blue));
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: blur-mini 0.4s linear 0ms infinite;
}

.mini-heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes blur-mini {
    0%,
    100% {
      -webkit-filter: blur(0.5px);
      scale: 1;
      background-color: rgb(var(--red), var(--green), var(--blue));

    }
    50% {
      -webkit-filter: blur(1px);
      scale: 1.2;
      background-color: rgb(212, 50, 220);
    }
  }